.JobOpeningsSkeleton_logo {
    margin-bottom: 15px;
}

.JobOpeningsSkeleton_info {
    margin-bottom: 5px;
}

@media (max-width: 414px) {
    .JobOpeningsSkeleton_logo {
        margin-bottom: 7px;
    }
}