.assignments {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 198px;
    font-family: Inter;
}

.assignments__cards {
    width: 86%;
    margin: auto;
    margin-left: 77px;
    margin-top: -80px;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}