.assignmentCards {
    position: relative;
    cursor: pointer;
    width: 220px;
    height: 130px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.08);
    color: #033443;
    border: 1px solid #EBECEE;
    border-radius: 16px;
    letter-spacing: normal;
    transition: all 0.2s ease-out;
}

.assignmentCards:hover {
    transform: scale(1.06);
}

.assignmentCards > h4 {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin-top: 85px;
    margin-left: 25px;
}